<div class="flex flex-col h-screen justify-center items-center bg-purple-500">
  <div class="py-16 text-4xl text-white">
    <h1>Angular with Tailwind</h1>
  </div>
  <div class="text-center bg-red-500 rounded-lg p-16">
    <div class="text-sm text-white">I'm text-base</div>
    <div class="text-lg text-white">I'm text-lg</div>
    <div class="text-base text-white">I'm text-base</div>
    <div class="text-xl text-white">I'm text-xl</div>
    <div class="text-2xl text-white">I'm text-2xl</div>
    <div class="text-4xl text-white">I'm text-4xl</div>
  </div>
